<form method="POST">

    <div class="project-summary-area">
        <div class="row-fluid">
            <div class="span6 project-pitch-input">
                We're raising
                &pound;<span class="input-outer target-amount-outer"><input data-val="true" data-val-length="TBD: Enter the amount you want to raise" data-val-required="TBD: Enter a cause" id="PitchFor" maxlength="50" class="target-amount" type="text" value="" /></span>
                for
                <span class="input-outer">
                    <input data-val="true" data-val-length="TBD: Error Message for Pitch-For too long" data-val-length-max="50" data-val-required="TBD: Enter a cause" id="PitchFor" maxlength="50" name="PitchFor" class="pitchfor" type="text" value="" />
                </span>

                because
                <span class="input-outer"><input data-val="true" data-val-length="TBD: Error Message for Pitch-Because too long" data-val-length-max="50" data-val-required="TBD: Enter a reason" id="PitchBecause" maxlength="50" name="PitchBecause" class="pitchbecause" type="text" value="" /></span>

            </div>
            <div class="span6">
                <div class="project-pitch-description-outer">
                    <div class="project-pitch-description">
                        <h3>Describe your project</h3>
                        <p>Give your audience an overview about your project, so that they know at a glance why it's important that they donate.</p>
                        <ul>
                            <li>How much money do you need? (Maximum &pound;1000)</li>
                            <li>Who will benefit from the project?</li>
                            <li>Why do you want to do the project?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid separator">
        <div class="separator-end left"></div>
        <div class="separator-end right"></div>
    </div>


    <div class="hero-image-area">
        <div class="row-fluid">
            <div class="span6">
                <div class="photo-frame-create">
                    <div class="photo-frame-create-inner">
<!--@*                        <img src="#" style="display: none; margin-left: auto; margin-right: auto" />*@ -->
                        <div class="photo-upload-outer">
                            <img src="@Url.Content("~/static/img/ajax-loader-24x24.gif")" style="display: none"/>
<!--                            @Html.HiddenFor(m => m.ImageUrl) -->
                        </div>
                    </div>
                </div>
                <div class="span3 photo-upload-container">
                    <input type="file" id="projectImage" name="fileData"/>
                    <button class="photo-upload ">Upload photo</button>
                </div>
            </div>
            <div class="span6">
                <div class="map-frame-create">
                    <div class="map-frame-create-inner">
                        <input type="text" class="location-input" value="Enter the location of your project" />

        <!--
                        <div id="map-canvas"></div>
                        <div id="location">9 Stavordale Road, London, United Kingdom</div>
        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid separator">
        <div class="separator-end left"></div>
        <div class="separator-end right"></div>
    </div>

    <div class="project-details-area">
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid">
                    <div class="contact-details-module span12">
                        <span class="field-validation-error label-additional-info" data-valmsg-for="Creator" data-valmsg-replace="true">This is how errors are displayed.</span>
                        <label for="Creator">Your name</label>
                        <div class="input-outer">
                            <input data-val="true" data-val-length="TBD: Error Message for Creator too long" data-val-length-max="100" data-val-required="TBD: Enter your name" id="Creator" maxlength="100" name="Creator" class="span12" placeholder="Enter your name" type="text" value="" />
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="contact-details-module span12">
                        <!--<span class="field-validation-error label-additional-info">This is how errors are displayed.</span>-->
                        <label for="">Your email</label>
                        <div class="input-outer"><input data-val="true" class="span12" placeholder="Enter your email address" type="text" value="" /></div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="contact-details-module span12">
                        <!--<span class="field-validation-error label-additional-info">This is how errors are displayed.</span>-->
                        <label>About me</label>
                        <div class="input-outer"><input data-val="true" class="span12" placeholder="Enter your email address" type="text" value="" /></div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="contact-details-module span12">
                        <label for="PageShortName">Page Short Name</label>
                        <div class="input-outer"><input autocomplete="off" data-val="true" data-val-length="TBD: Error Message for Custom Url too long" data-val-length-max="100" data-val-required="TBD: Enter a valid page short name" id="PageShortName" maxlength="100" name="PageShortName" class="span12" placeholder="Enter the page short name" type="text" value="" /></div>
                    </div>
                </div>

            </div>
            <div class="span6">
                <label for="StoryProblem">What&#39;s the problem you&#39;re trying to solve?</label>
                <div class="input-outer"><input data-val="true" data-val-length="TBD" data-val-length-max="280" data-val-required="TBD" id="StoryProblem" maxlength="280" name="StoryProblem" class="span12" type="text" value="" /></div>

                <label for="StoryCare">Why do you care about this problem?</label>
                <div class="input-outer"><input data-val="true" data-val-length="TBD" data-val-length-max="280" data-val-required="TBD" id="StoryCare" maxlength="280" name="StoryCare" class="span12" type="text" value="" /></div>

                <label for="StoryBenefit">Who will benefit from this project?</label>
                <div class="input-outer"><input data-val="true" data-val-length="TBD" data-val-length-max="280" data-val-required="TBD" id="StoryBenefit" maxlength="280" name="StoryBenefit" class="span12" type="text" value="" /></div>

                <label for="StoryMoney">How will the money be spent?</label>
                <span class="label-additional-info">Provide a break-down of your target.</span>
                <div class="input-outer"><input data-val="true" data-val-length="TBD" data-val-length-max="280" data-val-required="TBD" id="StoryMoney" maxlength="280" name="StoryMoney" class="span12" type="text" value="" /></div>

                <label for="StoryDeadline">When will you finish the project?</label>
                <div class="input-outer"><input data-val="true" data-val-length="TBD" data-val-length-max="280" data-val-required="TBD" id="StoryDeadline" maxlength="280" name="StoryDeadline" class="span12" type="text" value="" /></div>

                <label for="StoryAnythingElse">Anything else?</label>
                <div class="input-outer"><input data-val="true" data-val-length="TBD" data-val-length-max="280" id="StoryAnythingElse" maxlength="280" name="StoryAnythingElse" class="span12" type="text" value="" /></div>
            </div>
        </div>
    </div>


    <div class="row-fluid separator">
        <div class="separator-end left"></div>
        <div class="separator-end right"></div>
    </div>


    <div class="publish-area">
        <div class="row-fluid">
            <div class="span6"></div>
            <div class="span6">
                <div class="tandc">
                    <label for="agreetandc">
                        <input type="checkbox" name="agreetandc" class="checkbox-tandc" />
                        I promise to do good with the money I raise
                    </label>
                </div>
                <div class="publish"><input type="submit" class="btn-publish disabled" value="Publish your project" /></div>
            </div>
        </div>
    </div>

</form>