<div class="container">
    <div class="page-content">
        <div style="background: url(static/img/bg-transparent.png); padding: 20px 20px 12px 20px; min-height: 300px; position: relative;">
            <h1>Here's what you can do</h1>
            <p><a href="/createupdate">Create a project</a></p>
            <p><a href="/createerrors">Create page with error messages</a></p>
            <p><a href="/preview">Preview a project</a></p>
            <p><a href="/project">View a project</a></p>
            <p><a href="/projectstatusthankyou">Project Status Thankyou</a></p>
            <p><a href="/projectstatus">Project Status Panel</a></p>
            <p><a href="/timeline">Timeline</a></p>
            <p><a href="/error">Error page</a></p>
        </div>
    </div>
</div>

