<div class="navbar navbar-fixed-bottom">
  donate
</div>


<div class="project-summary-area">
    <div class="row-fluid">
        <div class="span6 project-pitch">
            <div class="visible-phone"><img src="static/img/g-local.png" width="35" height="45" class="g-local-logo-mob" alt="JustGiving Local logo" /></div>
            <h1 class="project-title">We're raising money for Pat's local bike project because we want to do more cycling</h1>

            <div class="project-owner-area">
                <img src="static/img/avatar-creator-pink.png" width="50" height="50" alt="Username" />
                <p>Project owner:</p>
                <span class="creator-name">Sylvia Smith</span>
            </div>
            <div class="social-area">Social links</div>
        </div>

        <div class="span6 dashboard">
            <div class="row-fluid">
                <div class="span12">
                    <div class="logo-area hidden-phone"><img src="static/img/g-local.png" width="71" height="90" class="g-local-logo" alt="JustGiving Local logo" /></div>
                </div>
            </div>
            <div class="progress-area">progress indicator bar</div>
            <div class="row-fluid">
                <div class="donate-area span4"><a href="/donation/direct/charity/190017?causeId=1876690" class="btn-donate">Donate</a></div>
                <div class="countdown-area span4">days left</div>
                <div class="reminder-area span4">remind me</div>
            </div>
        </div>
    </div>
</div>


<div class="hero-image-area">
    <div class="row-fluid">
        <div class="span6">
            <div class="photo-frame">
                <img src="static/img/community-garden-photo-large.jpg" width="430" height="255" alt="user photo - dynamic text needed?" />
            </div>
        </div>
        <div class="span6">
            <div class="map-frame">
                <div id="map-canvas"></div>
            </div>
            <div id="location">9 Stavordale Road, London, United Kingdom</div>
        </div>
    </div>
</div>


<div class="row-fluid separator">
    <div class="separator-end left"></div>
    <div class="separator-end right"></div>
</div>


<div class="project-details-area">
    <div class="row-fluid">
        <div class="span6">
            <div class="donations-updates">
                <h2>Donations and comments</h2>
                <ul class="history">
                    <li class="pink">
                        <div class="donation-image">
                            <img src="static/img/avatar-donor-green.png" width="50" height="50" alt="Username" />
                        </div>
                        <div class="donation-text">
                            <p>lorum ipsum dolor sit amet oij o asdlkjf ldksjf
                            Veggies sunt bona vobis, proinde vos postulo esse magis melon fennel scallion shallot arugula chickweed endive.</p>
                            <span class="donor-name">Joe Bloggs</span><span class="donation-date">12/11/2012</span>
                        </div>
                        <div class="donation-amount">&pound;10</div>
                    </li>
                    <li class="blue">
                        <div class="donation-image">
                            <img src="static/img/avatar-donor-green.png" width="50" height="50" alt="Username" />
                        </div>
                        <div class="donation-text">
                            <p>Okra groundnut winter purslane wakame sorrel okra radish. Soybean kohlrabi bell pepper dulse eggplant okra garbanzo sorrel gumbo parsnip scallion squash kombu. Seakale avocado kombu bitterleaf cucumber taro tomatillo courgette.</p>
                            <span class="donor-name">Joe Bloggs</span><span class="donation-date">12/11/2012</span>
                        </div>
                        <div class="donation-amount">&pound;25</div>
                    </li>
                    <li class="creator-comment">
                        <div class="donation-text">
                            <p>3 days left to donate! Thank you for all your kind words</p>
                            <span class="creator-name">Sylvia Smith</span><span class="donation-date">12/11/2012</span>
                        </div>
                        <div class="donation-image">
                            <img src="static/img/avatar-creator-pink.png" width="50" height="50" alt="Username" />
                        </div>
                    </li>
                    <li class="grey">
                        <div class="donation-image">
                            <img src="static/img/avatar-donor-green.png" width="50" height="50" alt="Username" />
                        </div>
                        <div class="donation-text"><p>lorum ipsum dolor sit amet oij o asdlkjf ldksjf Veggies sunt bona vobis, proinde vos postulo esse magis melon fennel scallion shallot arugula chickweed endive.</p>
                        <span class="donor-name">Joe Bloggs</span><span class="donation-date">12/11/2012</span>
                        </div>
                        <div class="donation-amount">&pound;10</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span6">
            <div class="project-story">
                <h2>What's the problem we're trying to solve?</h2>
                <p>
                    Paddington Children's Playgroup has used the same rooms in Paddington Community Hall for 7 years and never painted the rooms...
                    <a href="">Continue Reading</a>
                </p>
                <h2>How will the money be spent?</h2>
                <p>
                    We want to buy paint, curtains (and liners) and some new crash mats, plus some table cloths and cushion fabric...
                    <a href="">Continue Reading</a>
                </p>
                <h2>When will we see the difference?</h2>
                <p>
                    We think that after funding has closed, eager parents could have the project completed within 5 weeks - in time for the new term, ...
                    <a href="">Continue Reading</a>
                </p>
            </div>
        </div>
    </div>
</div>


<!--<div class="row-fluid"> -->
    <div class="separator">
        <div class="separator-end left"></div>
        <div class="separator-end right"></div>
    </div>
<!--</div> -->


<div class="creator-area">
    <div class="row-fluid">
        <div class="span6">
            <h2>About me</h2>
            <div class="blue">
                <div class="row-fluid">
                    <div class="about-me-module span12">
                       <img src="static/img/avatar-creator-pink.png" width="50" height="50" alt="Sylvia Smith" />
                        <h3>Sylvia Smith</h3>
                        <p>I live and work in London. Lorem ipsum porta venenatis turpis sit amet gravida. Praesent condimentum, neque et scelerisque euismod.</p>
                        <a href="" class="btn-contact">Contact me</a>
                        <p class="static-text">Feel free to drop me an email to find out more about my project</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="span6">
            <h2>Have your say</h2>
            <div class="have-your-say">
				<div id="fb-root"></div>
	          <div class="fb-comments" data-href="<%= request.url %>" data-num-posts="3" data-width="550"></div>
            </div>
        </div>
    </div>
</div>