<div class="row-fluid project-summary-area">
    <div class="span6 project-pitch">
        <div class="visible-phone"><img src="static/img/g-local.png" width="35" height="45" class="g-local-logo-mob" alt="JustGiving Local logo" /></div>
        <h1 class="project-title">We're raising money for Pat's local bike project because we want to do more cycling</h1>
    </div>
    <div class="span6 dashboard">

        <div class="row-fluid">
            <div class="span8">
                <div class="social-area">Social links</div>
            </div>
            <div class="span4">
                <div class="logo-area hidden-phone"><img src="static/img/g-local.png" width="71" height="90" class="g-local-logo" alt="JustGiving Local logo" /></div>
            </div>
        </div>

        <div class="progress-area">progress indicator bar</div>

        <div class="row-fluid">
            <div class="donate-area span4"><a href="/donation/direct/charity/190017?causeId=1876690" class="btn-donate">Donate</a></div>
            <div class="countdown-area span4">days left</div>
            <div class="reminder-area span4">remind me</div>
        </div>

    </div>
</div>

<div class="row-fluid hero-image-area">
    <div class="span6">
        <div class="photo-frame">
            <img src="static/img/community-garden-photo-large.jpg" width="430" height="255" alt="user photo - dynamic text needed?" />
        </div>
    </div>
    <div class="span6">
        <div class="map-frame">
            <!-- <img src="static/img/map-large.jpg" width="770" height="513" /> -->
			<div id="map-canvas"></div>
			<div id="location">9 Stavordale Road, London, United Kingdom</div>
        </div>
    </div>
</div>


<div class="row-fluid separator">
    <div class="separator-end left"></div>
    <div class="separator-end right"></div>
</div>


<div class="row-fluid project-details-area">
    <div class="span6">
        <div class="donations-updates">
            <h2>Donations and comments</h2>
            <ul class="history">
                <li class="donation span12">
                    <div class="donation-text">lorum ipsum dolor sit amet oij o asdlkjf ldksjf
                    Veggies sunt bona vobis, proinde vos postulo esse magis melon fennel scallion shallot arugula chickweed endive.</div>
                    <div class="amount">&pound;10</div>
                </li>
                <li class="comment">
                    Okra groundnut winter purslane wakame sorrel okra radish. Soybean kohlrabi bell pepper dulse eggplant okra
                    garbanzo sorrel gumbo parsnip scallion squash kombu. Seakale avocado kombu bitterleaf cucumber taro tomatillo courgette.
                </li>
            </ul>
        </div>
    </div>
    <div class="span6">
        <div class="project-story">
            <h2>What's the problem you're trying to address with this project?</h2>
            <p>more productivity, </p>
            <h2>Why do you care about this problem?</h2>
            <p>because it&#39;s important</p>
            <h2>Who will benefit from this project?</h2>
            <p>people who pay thoughtworkers</p>
            <h2>How will the money be spent?</h2>
            <p>new coffee machine - 1000 gbp</p>
            <h2>When will your supporters be able to see the difference?</h2>
            <p>right away</p>
            <h2>Anything else? (Optional)</h2>
            <p></p>
        </div>
    </div>
</div>


<div class="row-fluid separator">
    <div class="separator-end left"></div>
    <div class="separator-end right"></div>
</div>


<div class="row-fluid creator-area">
    <div class="span6">
        <h2>About me</h2>
        <div class="module angular blue">
            My name's Silvya Smith and I live and work in London. Lorem ipsum porta venenatis turpis sit amet gravida. Praesent condimentum, neque et scelerisque euismod.
        </div>
    </div>
    <div class="span6">
        <h2>Have your say</h2>
        <div class="have-your-say">
        </div>
    </div>
</div>