
<div class="container">
    <div class="page-content">

        <div class="proj-complete-top-area">
            <img src="static/img/beta.png" width="51" height="51" class="beta-image hidden-phone" alt="beta" />
            <div class="row-fluid">
                <div class="span7">
                    <h1 class="proj-complete-header"><strong>Thank you Steve</strong>. We've raised &pound;1000 to buy Will a playstation and we couldn't have done it without you.</h1>
                </div>
                <div class="span3">
                </div>
            </div>
            <a href="" class="why-we-started">Find out why we started this project</a>
            <div class="row-fluid">
                <div class="span6">
                    <div class="photo-frame-outer">
                        <div class="photo-frame">
                            <div class="photo-frame-inner">
                                <img src="static/img/community-garden-photo-large.jpg" alt="user photo - dynamic text needed?" />
                            </div>
                        </div>
                    </div>
                    <div class="social-area hidden-phone">
                        <ul>
                            <li>
                                <div id="fb-root"></div>
                                <fb:like ref="projectpage" data-send="false" data-layout="button_count" data-show-faces="false"></fb:like>
                                <script type="text/javascript">
                                    try {
                                        window.fbAsyncInit = function () {
                                            FB.init({ appId: '123490264376629', status: true, cookie: true, xfbml: true, oauth: true });

                                            FB.Event.subscribe('edge.create', function (href) {
                                                JustGiving.Analytics.SocialTracking.ExtendSettings({ network: 'Facebook', socialAction: 'Like' });
                                                JustGiving.Analytics.SocialTracking.Track();
                                            });
                                            FB.Event.subscribe('edge.remove', function (href) {
                                                JustGiving.Analytics.SocialTracking.ExtendSettings({ network: 'Facebook', socialAction: 'UnLike' });
                                                JustGiving.Analytics.SocialTracking.Track();
                                            });


                                            (function (namespace) {
                                                namespace.AppNamespace = 'jgdonationstaging';
                                                namespace.AppId = '123490264376629';
                                            })(JustGiving.Facebook = JustGiving.Facebook || {});

                                            $(document).trigger("facebookReady");
                                        };
                                        (function () {
                                            var e = document.createElement('script'); e.async = true;
                                            e.src = document.location.protocol + '//connect.facebook.net/en_GB/all.js';
                                            document.getElementById('fb-root').appendChild(e);
                                        } ());
                                    }
                                    catch (err) {}
                                </script></li>
                            <li>
                                <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://v3-staging.justgiving.com/local/project/jigsaw?utm_source=Twitter&amp;utm_medium=projectpage&amp;utm_content=Jigsaw&amp;utm_campaign=projectpage-tweet"
                                  data-count="horizontal" data-text="Join me and help raise &#163;1000.00 for Pop up youth centre on #justgiving"
                                  data-related="justgiving:JustGiving Twitter account" >
                                  Tweet
                                </a>
                              <script type="text/javascript">
                                  function tweetIntentToAnalytics(intent_event) {
                                      if (intent_event) {
                                          JustGiving.Analytics.SocialTracking.ExtendSettings({ network: 'Twitter', socialAction: 'Tweet' });
                                          JustGiving.Analytics.SocialTracking.Track();
                                      }
                                  }
                                  // load twitter js asynchronously
                                  $(function () {
                                      window.twttr = (function (d, s, id) {
                                          var t, js, fjs = d.getElementsByTagName(s)[0];
                                          if (d.getElementById(id)) return window.twttr; js = d.createElement(s); js.id = id;
                                          js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
                                          return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
                                      }(document, "script", "twitter-wjs"));
                                      twttr.ready(function (twttr) {
                                          twttr.events.bind('tweet', function () { });
                                          twttr.events.unbind('tweet');
                                          twttr.events.bind('tweet', tweetIntentToAnalytics);
                                      });
                                  });
                              </script>
                            </li>
                            <li>
                                <script type="text/javascript">
                                    $(function() {
                                        $.getScript("//platform.linkedin.com/in.js?async=true", function () {
                                            IN.init();
                                        });
                                    });

                                    function linkedInSuccessAnalyticsPush() {
                                        JustGiving.Analytics.SocialTracking.ExtendSettings({ network: 'LinkedIn', socialAction: 'Share' });
                                        JustGiving.Analytics.SocialTracking.Track();
                                    }

                                    function linkedInFailureAnalyticsPush() {
                                        JustGiving.Analytics.SocialTracking.ExtendSettings({ network: 'LinkedIn', socialAction: 'ShareFail' });
                                        JustGiving.Analytics.SocialTracking.Track();
                                    }
                                </script>
                                <script type="IN/Share" data-url="http://v3-staging.justgiving.com/local/project/jigsaw?utm_source=LinkedIn&amp;utm_medium=projectpage&amp;utm_content=Jigsaw&amp;utm_campaign=projectpage-linkedin" data-counter="horizontal" data-onSuccess="linkedInSuccessAnalyticsPush" data-onError="linkedInFailureAnalyticsPush"></script></li>
                                                    <li><div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://v3-staging.justgiving.com/local/project/jigsaw?utm_source=GooglePlus&utm_medium=projectpage&utm_content=Jigsaw&utm_campaign=projectpage-googleplus"></div>
                                <!-- Google +1 button script -->
                                <script type="text/javascript">
                                    (function () {
                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                        po.src = 'https://apis.google.com/js/plusone.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                    })();
                                </script>
                            </li>
                            <li class="share-this">

                                <span class="st_email_button" displayText="Email" st_url="http://v3-staging.justgiving.com/local/project/jigsaw?utm_source=Sharethis&utm_medium=projectpage&utm_content=Jigsaw&utm_campaign=projectpage-email" st_title="We're raising money for Pop up youth centre because create a support & guidance service for ages13-19" ></span>

                                <script type="text/javascript">
                                    var switchTo5x = false;
                                    var __st_loadLate = true;
                                </script>
                                <script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
                                <script type="text/javascript">    stLight.options({ publisher: '10dd4b0e-da84-439d-a6ac-f1c9f07883f2', publisherGA: 'UA-8372233-1', onhover: false });</script>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="span6">
                    <div class="proj-complete-report">
                        <h2>How we did it</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus nisl a felis vestibulum porttitor. Sed sagittis arcu et felis dapibus varius. Vivamus eget urna id purus rhoncus
                        tempor. Ut dignissim eros vel lacus vestibulum in rutrum quam malesuada.
                         ...</p> <a href="" class="how-we-did-it">Read more about how we did it</a>
                    </div>
                    <div class="timestamp">7 hours ago from Paddington, London</div>
                    <div class="proj-complete-tell-friends">
                        <h2>Tell your friends about this project</h2>
                        <div class="row-fluid">
                            <div class="have-your-say span12">
                                <div id="fb-root"></div>
                                <div class="fb-comments" data-href="<%= request.url %>" data-num-posts="3" data-width="550" mobile="false"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="proj-complete-middle-area">
            <div class="row-fluid">
                <div class="span12">
                    <img src="static/img/timeline-ribbon.png" class="timeline-ribbon" />
                    <h2 class="complete-story">Our project's story</h2>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-container-outer">
                                <!-- spacer for first item to line up -->
                            </div>
                        </li>

                        <li>
                            <div class="timeline-container-outer">
                                <div class="timeline-container pink">
                                    <div class="timeline-arrow"></div>
                                    <div class="donation-image">
                                        <img src="static/img/avatar-donor-green.png" width="50" height="50" alt="Username" />
                                    </div>
                                    <div class="donation-text">
                                        <p>Great cause and such beautiful kids! timeline item 1</p>
                                        <span class="donor-name">Jean Templeton</span><span class="donation-date">24/10/2012</span>
                                    </div>
                                    <div class="donation-amount">&pound;10</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-container-outer">
                                <div class="timeline-container creator-comment">
                                    <div class="timeline-arrow"></div>
                                    <div class="donation-text">
                                        <p>Guys we are making great progress, thanks a million timeline item 2</p>
                                        <span class="creator-name">Sylvia Smith</span><span class="donation-date">21/10/2012</span>
                                    </div>
                                    <div class="donation-image">
                                        <img src="static/img/avatar-creator-pink.png" width="50" height="50" alt="Username" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-container-outer">
                                <div class="timeline-container blue">
                                    <div class="timeline-arrow"></div>
                                    <div class="donation-image">
                                        <img src="static/img/avatar-donor-green.png" width="50" height="50" alt="Username" />
                                    </div>
                                    <div class="donation-text">
                                        <p>Bon chance Jean Luc from all at Energycentric timeline item 3</p>
                                        <span class="donor-name">Paul Antoniades</span><span class="donation-date">20/10/2012</span>
                                    </div>
                                    <div class="donation-amount">&pound;25</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-container-outer">
                                <div class="timeline-container creator-comment">
                                    <div class="timeline-arrow"></div>
                                    <div class="donation-text">
                                        <p>3 days left to donate! Thank you for all your kind words</p>
                                        <span class="creator-name">Sylvia Smith</span><span class="donation-date">12/11/2012</span>
                                    </div>
                                    <div class="donation-image">
                                        <img src="static/img/avatar-creator-pink.png" width="50" height="50" alt="Username" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-container-outer">
                                <div class="timeline-container grey">
                                    <div class="timeline-arrow"></div>
                                    <div class="donation-image">
                                        <img src="static/img/avatar-donor-green.png" width="50" height="50" alt="Username" />
                                    </div>
                                    <div class="donation-text"><p>Well done everyone, looking forward to seeing the finished project!</p>
                                    <span class="donor-name">Joe Bloggs</span><span class="donation-date">12/11/2012</span>
                                    </div>
                                    <div class="donation-amount">&pound;10</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-container-outer">
                                <div class="timeline-container pink">
                                    <div class="timeline-arrow"></div>
                                    <div class="donation-image">
                                        <img src="static/img/avatar-donor-green.png" width="50" height="50" alt="Username" />
                                    </div>
                                    <div class="donation-text">
                                        <p>Great cause and such beautiful kids!</p>
                                        <span class="donor-name">Jean Templeton</span><span class="donation-date">24/10/2012</span>
                                    </div>
                                    <div class="donation-amount">&pound;10</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-container-outer">
                                <div class="timeline-container creator-comment">
                                    <div class="timeline-arrow"></div>
                                    <div class="donation-text">
                                        <p>Guys we are making great progress, thanks a million</p>
                                        <span class="creator-name">Sylvia Smith</span><span class="donation-date">21/10/2012</span>
                                    </div>
                                    <div class="donation-image">
                                        <img src="static/img/avatar-creator-pink.png" width="50" height="50" alt="Username" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-container-outer">
                                <div class="timeline-container blue">
                                    <div class="timeline-arrow"></div>
                                    <div class="donation-image">
                                        <img src="static/img/avatar-donor-green.png" width="50" height="50" alt="Username" />
                                    </div>
                                    <div class="donation-text">
                                        <p>Bon chance Jean Luc from all at Energycentric</p>
                                        <span class="donor-name">Paul Antoniades</span><span class="donation-date">20/10/2012</span>
                                    </div>
                                    <div class="donation-amount">&pound;25</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-container-outer">
                                <div class="timeline-container creator-comment">
                                    <div class="timeline-arrow"></div>
                                    <div class="donation-text">
                                        <p>3 days left to donate! Thank you for all your kind words</p>
                                        <span class="creator-name">Sylvia Smith</span><span class="donation-date">12/11/2012</span>
                                    </div>
                                    <div class="donation-image">
                                        <img src="static/img/avatar-creator-pink.png" width="50" height="50" alt="Username" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-container-outer">
                                <div class="timeline-container grey">
                                    <div class="timeline-arrow"></div>
                                    <div class="donation-image">
                                        <img src="static/img/avatar-donor-green.png" width="50" height="50" alt="Username" />
                                    </div>
                                    <div class="donation-text"><p>Well done everyone, looking forward to seeing the finished project!</p>
                                    <span class="donor-name">Joe Bloggs</span><span class="donation-date">12/11/2012</span>
                                    </div>
                                    <div class="donation-amount">&pound;10</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="proj-complete-lower-area">
            <div class="proj-complete-lower-area-inner">
                <div class="proj-complete-lower-area-inner-bg">

                    <h2>When and why we did the project</h2>

                    <div class="row-fluid proj-complete-hero-image-area">
                        <div class="span6">
                            <div class="proj-completion-pos">
                                <div class="photo-frame-outer">
                                    <div class="photo-frame">
                                        <div class="photo-frame-inner">
                                            <img src="static/img/community-garden-photo-large.jpg" alt="user photo - dynamic text needed?" />
                                        </div>
                                    </div>
                                </div>
                                <div class="photo-arrow"></div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="proj-completion-pos">
                                <div class="map-frame">
                                    <div id="map-canvas"></div>
                                </div>
                                <!--<div id="location">9 Stavordale Road, London, United Kingdom</div> -->
                                <div class="map-arrow"></div>
                            </div>
                        </div>
                    </div>

                    <div class="proj-complete-story-area">
                        <div class="row-fluid">
                            <div class="span6">
                                <h3>What's the problem we're trying to solve?</h3>
                                <p>
                                    Paddington Children's Playgroup has used the <!--same rooms in Paddington Community Hall for 7 years and never painted the rooms-->
                                </p>
                                <h3>Why do we care about this project?</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <!--Proin tempor porta purus, quis tincidunt sapien pretium id.
                                    Praesent pharetra orci a tellus facilisis sit amet blandit lacus iaculis. Proin vehicula porttitor tortor, ornare fringilla enim suscipit sed. -->
                                </p>
                            </div>
                            <div class="span6">
                                <h3>How will the money be spent?</h3>
                                <p>
                                    We want to buy paint, curtains (and liners) <!--and some new crash mats, plus some table cloths and cushion fabric.
                                    Donec eget nibh sit amet risus hendrerit consequat. Proin non quam arcu, quis tincidunt urna. Praesent mauris magna, ultricies in semper a, fringilla ac odio.
                                    Suspendisse quis mi mi. Duis convallis, libero ultrices elementum venenatis, tortor ante euismod neque, id sodales tellus magna vel mauris.-->

                                </p>
                                <h3>When will we see the difference?</h3>
                                <p>
                                    We think that after funding has closed, <!--eager parents could have the project completed within 5 weeks - in time for the new term.
                                    Maecenas sed lectus vitae turpis euismod pulvinar quis in quam. Fusce convallis hendrerit dictum. Quisque et urna ligula, ac hendrerit velit.
                                    Nunc tincidunt vehicula euismod. Praesent ut est quis risus venenatis consequat id nec diam. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="proj-timeline-end">
                7 hours ago from Paddington, London
            </div>
        </div>

        <div class="proj-complete-footer-area">
            <div class="proj-complete-footer-top">
                <div class="proj-complete-footer-top-inner">
                    <h2>Feeling inspired?</h2>
                    <p>Find another project to support or create your own!</p>
                </div>
            </div>
            <div class="horizontal-border"></div>
            <div class="horizontal-border-torn"></div>
            <div class="horizontal-border-right"></div>
            <ul class="footer-tab">
                <li>
                    <a href="#" class="create">Create a project</a>
                </li>
                <div class="vertical-border"></div>
                <li>
                    <a href="#" class="find">Find a project</a>
                </li>
            </ul>
            <!--<div class="tab-spacer"></div>-->
        </div>

    </div>
</div>