

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    /* padding-bottom: 40px; */
    background: url(../img/jg_local_bg.png);
    color: #4d4940;
}

input[type="text"] {
    background:  #fff;
    opacity: 0.5;
}

textarea {
    background:  #fff;
}


.project-pitch h1 {
    display: inline-block;
}




/*** styles to visualise divs during dev ***/

.bgg {
/*    background:  #0f0;*/
}

.bgr {
/*    background: #f00;*/
}


/*** major layout container divs ***/

.target-amount, .target-progress, .contact-details, .hero-project-photo, .social-share, .map-container, .address-container, .donor-comments-container, .donation-summary, .project-updates {
    background:  #fafafa;
    margin-bottom: 20px;
    width: 100%;
}

.target-amount {
    height: 75px;
}

.target-progress {
    height: 75px;
}

.contact-details {
    height: 80px;
}

.hero-project-photo {
    margin-bottom: 20px;
}

.social-share {
    height: 250px;
}

.map-container {
    height: 520px;
}

.address-container {
    height: 100px;
}

.donor-comments-container {
    height: 100px;
}

.donation-summary {
    height: 100px;
}

.project-updates {
    height: 100px;
}

/*** region rows ***/




/**/

.project-summary-area {

}

.hero-image-area {
    padding: 0 0 15px 0;
    background: url(../img/bg-bar-1.png) no-repeat left bottom;
    margin: 0 0 15px 0;
}

.project-details-area {
    background:  #0f0;
    padding: 0 0 15px 0;
    background: url(../img/bg-bar-2.png) no-repeat left bottom;
    margin: 0 0 15px 0;
}

.creator-area {

}



/*** module container divs ***/

.photo-frame {
    background: url(../img/hero-photo-frame-bg.png) no-repeat left top;
    padding:  36px 27px 42px 34px;
}

.photo-frame img {
    width: 430px;
    height: 255px;
}

.map-frame {
    background: url(../img/map-frame-bg.png) no-repeat left top;
/*    padding:  36px 27px 42px 34px;*/
    padding:  36px 20px 42px 34px;
}

.map-frame img {
    width: 410px;
    height: 255px;
}




.donations-updates {

}

.project-story {

}






ul.history {}




/*** Form inputs ***/

.ip-title {
/*    border:  1px solid #f00;
    width: 600px; */
}

.ip-creator {
/*    border:  1px solid #f00;
    width: 600px; */
}

.ip-story {
/*    border:  1px solid #f00;
    width: 600px; */
}

.ip-location {
/*    border:  1px solid #f00;
    width: 600px; */
}

.ip-summary {
    resize: none;
/*    width: 100%;*/
}


/*** status changes with classes ***/

.placeholder {
    opacity: 0.5;
}



/*** static graphic elements ***/

.g-local-logo {
    margin:  25px 18px 0 0;
    float: right;
}

.share-header {
    float: left;
    display: inline-block;
}

.facebook-share-large {
    width: 100px;
    height: 100px;
    clear: left;
    float: left;
}

.hero-project-photo img {
    margin-top: 20px;
}

/*** overrides bootstrap ***/


nav {
    background: #e5e2dd;
    padding: 8px 0 8px 20px;
    margin-bottom: 25px;
}

.container {

}

.page-content {
    background: #e5e2dd;
    padding:  0 20px 30px 20px;
    margin-bottom: 30px;
}

h1.project-title {
    margin: 33px 0 11px 0;
}



/*** styles from current JG footer ***/
footer .dynamic-footer {
    border-top: 1px solid rgb(158, 148, 142);
    margin: 0px 20px !important;
    padding-top: 30px;
}

footer .dynamic-footer a.footer-logo {
    float: left;
    width: 90px;
    margin-right: 210px;
}

footer .dynamic-footer .footer-list-wrapper {
    width: 150px;
    margin-right: 10px;
    float: left;
}

footer .dynamic-footer .footer-list-wrapper, footer .dynamic-footer .contact-help {
    padding-bottom: 25px;
}

footer .dynamic-footer .footer-list-wrapper li {
    line-height: 1.4em;
}

footer .dynamic-footer ul li {
    font-size: 1.1em;
}

footer a {
    color: rgb(77, 72, 64);
    text-decoration: none;
}

ul {
    list-style: none outside none;
}




