

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: url(../img/jg_local_bg.png);
    color: #4d4940;
}

h1.project-title {
    display: inline-block;
    line-height: 1.175;
    margin: 16px 0 22px 0;
}

h2 {
    font-size: 24px;
    line-height: 1.0;
}

/*** major layout container divs ***/
/*** region rows ***/

.project-summary-area {
    background: url(../img/bg-transparent.png);
    padding: 0 20px;
}

.hero-image-area {
    padding: 0 20px 15px 20px;
    background: url(../img/bg-transparent.png);
}

.project-details-area {
    padding: 20px 20px 15px 20px;
    background: url(../img/bg-transparent.png);
    margin: 0;
}

.creator-area {
    background: url(../img/bg-transparent.png);
    padding:  0 20px 35px 20px;
}

.publish-area {
    background: url(../img/bg-transparent.png);
    padding:  30px 20px 35px 20px;
}

.separator {
    height: 7px;
    background: none;
}

.separator-inner {
    height: 15px;
}

.separator-end {
    background: url(../img/bg-transparent.png);
    width: 20px;
    height: 7px;
    display: inline-block;
    overflow: hidden;
}


/*** module container divs ***/

.project-owner-area {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.project-owner-area img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.project-owner-area  p {
    font-size: 12px;
    line-height: 1.0;
    margin: 11px 0 0 0;
    padding: 0;
}

.project-owner-area .creator-name {
    padding: 0;
    line-height: 1.0;
}

.social-area {
    height: 25px;
    margin: 0 0 15px 0;
    visibility: hidden;
}

.logo-area {
    height: 100px;
}

.progress-area {
    height: 60px;
    margin-bottom: 22px;
    visibility: hidden;
}

.donate-area {
    height: 40px;
}

.countdown-area {
    height: 40px;
    visibility: hidden;
}

.reminder-area {
    height: 40px;
    visibility: hidden;
}

.social-area, .progress-area, .countdown-area, .reminder-area {
    border:  1px solid #f00;
}

.photo-frame {
    background: url(../img/map-frame-bg.png) no-repeat left top;
    padding:  38px 0 40px 25px;
}

.photo-frame img {
    width: 430px;
    height: 255px;
}

.map-frame {
    background: url(../img/map-frame-bg.png) no-repeat left top;
    padding:  38px 0 40px 25px;
}

#map-canvas {
    width: 430px;
    height: 255px;
}

#location {
    margin: -18px 0 2px 25px;
}

.donations-updates ul.history {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.donations-updates ul.history li {
    background: #fff;
    margin-bottom: 10px;
    display: inline-block;
    overflow: hidden;
    -moz-border-radius: 25px 10px / 10px 25px;
    border-radius: 4px 2px / 10px 25px;
    width: 100%;
}

.blue {
    color: #5ca2d3;
    -moz-box-shadow:    3px 3px 0 0 #5ca2d3;
    -webkit-box-shadow: 3px 3px 0 0 #5ca2d3;
    box-shadow:         3px 3px 0 0 #5ca2d3;
}

.red {
    color: #c20f15;
    -moz-box-shadow:    3px 3px 0 0 #c20f15;
    -webkit-box-shadow: 3px 3px 0 0 #c20f15;
    box-shadow:         3px 3px 0 0 #c20f15;
}

.pink {
    color: #d8348d;
    -moz-box-shadow:    3px 3px 0 0 #d8348d;
    -webkit-box-shadow: 3px 3px 0 0 #d8348d;
    box-shadow:         3px 3px 0 0 #d8348d;
}

.grey {
    color: #65625d;
    -moz-box-shadow:    3px 3px 0 0 #65625d;
    -webkit-box-shadow: 3px 3px 0 0 #65625d;
    box-shadow:         3px 3px 0 0 #65625d;
}

.donation-image{
    width: 70px;
    float: left;
}

.donation-image img {
    padding: 15px 0 0 15px;
}

.donation-text {
    width: 65%;
 /*   width: 80%; */
    float: left;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    padding: 0 0 3px 0;
}

.creator-comment .donation-text {
    width: 80%
}

.creator-comment {
    color: #c20f15;
    -moz-box-shadow:    3px 3px 0 0 #c20f15;
    -webkit-box-shadow: 3px 3px 0 0 #c20f15;
    box-shadow:         3px 3px 0 0 #c20f15;
}

.creator-comment .donation-image {
    float: right;
}

.creator-comment .donation-image img {
    padding: 15px 15px 15px 0;
}

.donation-text p {
    margin: 0 0 2px 0;
    padding: 15px 10px 0 15px;
}

.donation-amount {
    width: 15%;
/*    width: 20%; */
    float: left;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    padding: 15px 0 0 0;
}

.donor-name, .creator-name {
    font-size: 12px;
    padding:  0 5px 15px 15px;
}

.project-summary-area .creator-name {
    font-weight: bold;
}

.donation-date {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding:  0 0 15px 0;
}

.project-story {
    margin-top: 15px;
}

.project-story h2 {
    font-size: 24px;
    line-height: 1.0;
    padding:  0 0 5px 0;
    margin: 0;
}

.project-story p {
    font-size: 13px;
    line-height: 1.2;
    padding: 0 0 13px 0;
    margin: 0;
}

.project-story a {
    color: #4d4940;
    text-decoration: underline;
}

.about-me-module {
    color: #5ca2d3;
    padding: 9px 7px 12px 12px;
    display: inline-block;
    overflow: hidden;
    background:  #fff;
}

.about-me-module h3 {
    font-size: 14px;
    line-height: 1.0;
    font-weight: bold;
    padding:  0;
    margin: 0 0 5px 0;
}

.about-me-module img {
    float: right;
    width: 50px;
    height: 50px;
    padding:  0 5px 0 15px;
}

.about-me-module p {
    font-size: 12px;
    line-height: 1.2;
}

.about-me-module p.static-text {
    color: #d7348d;
    margin:  4px 0 5px 0;
}

.module {
    background:  #fff;
    padding: 9px 7px 12px 12px;
}

.have-your-say {
    background:  #f1f1f1;
}



/*** Create project page ***/

.project-creation {
    background: url(../img/bg-transparent.png);
    padding: 0 20px;
}

.pitch-input {
    margin:  15px 0 15px 0;
}

.project-pitch-input {
    display: inline-block;
    line-height: 1.175;
    margin: 16px 0 22px 0;
    font-size: 32px;
    font-weight: bold;
}

.project-pitch-input input {
    margin: 0;
    font-size: 36px;
    padding: 0;
    height: 42px;
}

.project-pitch-input input:focus {
    background: transparent #f00 url(../img/input-corner-right.png) no-repeat right bottom;
    border: none;
    border-bottom: 1px solid #62625c;
    border-radius: 0;
    margin: 0;
}

.project-pitch-description-outer {
    background: url(../img/project-pitch-description-bg.png) no-repeat left center;
    margin:  35px 0 33px 0;
}

.project-pitch-description {
    background: #65625c;
    color: #fff;
    margin:  0 0 0 8px;
    padding:  15px 10px 20px 18px;
    border-bottom: 2px solid #5a9ece;
    border-right: 2px solid #5a9ece;
}

.project-pitch-description h3 {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 21px;
    line-height: 1.0;
}

.project-pitch-description p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.project-pitch-description ul {
    margin: 0 0 0 18px;
    padding: 0;
}

.project-pitch-description li {
    font-size: 18px;
    padding:  0 0 8px 0;
}

input.target-amount {
    width: 120px;
    padding: 0 0 0 5px;
}

.target-amount-outer {
    margin-left: 10px;
}

.pitchfor {
    width: 460px;
}

.pitchbecause {
    width: 460px;
}

.map-frame-create {
    background: url(../img/map-frame-bg.png) no-repeat left top;
    padding:  38px 0 40px 25px;
}

.photo-frame-create {
    background: url(../img/map-frame-bg.png) no-repeat left top;
    padding:  38px 0 40px 25px;
}

.photo-frame-create-inner {
    background:  #a59c94;
    width: 430px;
    height: 255px;
}


.map-frame-create-inner {
    background: url(../img/map-large.jpg) no-repeat left top;
    width: 430px;
    height: 255px;
}

.photo-upload {
    background: none;
    background: url(../img/plus-icon.png) no-repeat 0 4px;
    margin:  3px 0 0 11px;
    padding:  0px 16px 5px 15px;
    border: none;
    font-size: 12px;
    color: #fff;
}

.photo-upload-outer {
    background: url(../img/btn-bg-upload.png) no-repeat left top;
    margin: 110px 0 0 150px;
    display: inline-block;
    overflow:  hidden;
}

input.location-input[type="text"] {
    background: none;
    background: url(../img/location-input-bg.png) no-repeat top left!important;
    padding: 6px 0 7px 10px!important;
    margin: 114px 0 0 111px!important;
    color: #d7348d;
    border: none;
    border-bottom: none!important;
    font-size: 12px;
}

.contact-details-module {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 35px;
}

.tandc {
    width: 45%;
    float: left;
    margin: 15px 0 0 0;
}

.tandc label {
    color: #d8348d;
    font-size: 12px;
    line-height: 1.2;
    clear: none;
    display: inline;
}

.checkbox-tandc {
    -moz-box-shadow:    3px 3px 0 0 #d8348d;
    -webkit-box-shadow: 3px 3px 0 0 #d8348d;
    box-shadow:         3px 3px 0 0 #d8348d;
}

.publish {
    width: 55%;
    float: left;
}

.field-validation-error {
    font-size: 14px;
    color: red;
    display: block;
    font-weight: normal;
}


.btn-publish {
    padding: 18px 35px 23px 28px;
    border:  none;
    font-size: 24px;
    color: #fff;
    float: right;
}

.btn-publish .disabled {
    background: url(../img/btn-bg-publish-disabled.png) no-repeat left top;
}

.btn-publish .enabled{
    background: url(../img/btn-bg-publish-enabled.png) no-repeat left top;
}

.input-outer {
}

input[type="text"] {
    background: none;
    border: none;
    border-bottom: 1px solid #b5aca5;
    border-radius: 0;
    padding:  3px 0 5px 0;
    margin: 0;
    box-shadow: none;
}

textarea {
    background: none;
    background: url(../img/input-corner-right.png) no-repeat right bottom;
    border: none;
    border-bottom:  1px solid #62625c;
    border-radius: 0;
    box-shadow: none;
}

.project-details-area label {
    font-weight: bold;
    font-size: 21px;
    margin:  0;
}

.label-additional-info {
/*    padding-left: 5px; */
}

.project-details-area .input-outer {
    margin-bottom: 35px;
}

.project-details-area input[type="text"] {
/*    width: 460px; */
}




/*** Form inputs ***/


/*** status changes with classes ***/


/*** static graphic elements ***/

.g-local-logo {
    margin:  12px 0 0 0;
    float: right;
}

.g-local-logo-mob {
    width: 35px;
    height: 45px;
    margin: 10px 0 0 0;
    float: left;
}

.hero-project-photo img {
    margin-top: 20px;
}


/*** buttons and links ***/

a.btn-donate {
    text-decoration: none;
}

a.btn-donate:hover {
    color: #fff;
}

.btn-donate {
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    background: url(../img/btn-bg-donate.png) no-repeat left top;
    padding: 10px 55px 26px 55px;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
}

.btn-donate:hover {
    color: #fff;
}

.btn-contact {
    font-size: 12px;
    color: #fff;
    background: url(../img/btn-bg-contact.png) no-repeat left top;
    padding: 4px 26px 4px 27px;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    float: right;
    margin:  15px 5px 0 0;
}

.btn-contact:hover {
    color: #fff;
    text-decoration: none;
}

/*** General useful styles ***/

.left {
    float: left;
}

.right {
    float: right;
}


/*** overrides bootstrap ***/

nav {
    background: #e5e2dd;
    padding: 8px 0 8px 20px;
    margin-bottom: 25px;
}

.page-content {
    padding:  0 0 30px 0;
    margin-bottom: 30px;
}


/*** styles from current JG footer ***/
footer .dynamic-footer {
    margin: 0px 20px !important;
    padding-top: 30px;
}

footer .dynamic-footer a.footer-logo {
    float: left;
    width: 90px;
    margin-right: 210px;
}

footer .dynamic-footer .footer-list-wrapper {
    width: 150px;
    margin-right: 10px;
    float: left;
}

footer .dynamic-footer .footer-list-wrapper, footer .dynamic-footer .contact-help {
    padding-bottom: 25px;
}

footer .dynamic-footer .footer-list-wrapper li {
    line-height: 1.4em;
}

footer .dynamic-footer ul li {
    font-size: 1.1em;
}

footer a {
    color: rgb(77, 72, 64);
    text-decoration: none;
}

footer ul {
    list-style: none outside none;
}



/*** media queries ***/
/* break point 480px matches bootstrap */


@media (max-width: 480px) {
    h1 {
        line-height: 1.0;
        font-weight: bold;
        font-size: 21px;
    }

    h2 {
        font-size: 18px;
        line-height: 1.0;
    }

    body {
        font-size: 12px;
    }

    .project-details-area label {
        font-weight: bold;
        font-size: 18px;
        margin: 0;
    }

    .project-story h2 {
        font-weight: bold;
        font-size: 18px;
        margin: 0;
    }

    #map-canvas {
        height: 100px;
        width: 265px;
    }

    .photo-frame {
        background: #fff;
        padding: 4px 6px 5px 6px;
        margin: 0 0 25px -8px;
    }

    .photo-frame img {
        width: 265px;
        height: 150px;
    }

    .map-frame {
        background: #fff;
        padding: 4px 6px 5px 6px;
        margin: 0 0 0 -8px;
    }

    #location {
        margin: 0 0 2px 6px;
    }

    .social-area, .progress-area, .countdown-area, .reminder-area {
        display: none;
    }

/* start section for donation history area */



    .donation-image{
        width: 60px;
        float: left;
    }

    .donation-image img {
        padding: 10px 0 0 10px;
    }

    .donation-text {
        width: 155px;
        float: left;
        font-size: 14px;
        line-height: 1.2;
        margin: 0;
        padding: 0 0 3px 0;
    }

    .donation-text p {
        margin: 0 0 2px 0;
        padding: 15px 5px 0 10px;
    }

    .donation-amount {
        width: 40px;
        float: left;
        font-size: 14px;
        line-height: 1.2;
        font-weight: bold;
        padding: 15px 15px 0 0;
        text-align: right;
    }

    .donor-name, .creator-name {
        font-size: 12px;
        padding:  0 5px 15px 10px;
    }

    .project-summary-area .creator-name {
        font-weight: bold;
    }

    .donation-date {
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
        padding:  0 0 15px 0;
    }

/* end section for donation history area */

}

@media (max-width: 320px) {

}