

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: url(/local/static/img/jg-local-bg.gif);
    color: #4d4940;
    font-family: Arial, Helvetica, sans-serif;
}

h1.project-title {
    display: inline-block;
    line-height: 1.175;
    margin: 16px 0 22px 0;
}

h2 {
    font-size: 24px;
    line-height: 1.0;
}

h3 {
    font-size: 18px;
    line-height: 1.0;
    font-weight: normal;
}

.hide {
    display: none;
}

/*** major layout container divs ***/
/*** region rows ***/

.project-summary-area {
    background: url(/local/static/img/bg-transparent.png);
    padding: 0 20px 12px 20px;
    position: relative;
}

.hero-image-area {
    padding: 0 20px 15px 20px;
    background: url(/local/static/img/bg-transparent.png);
    margin: 0;
}

.project-details-area {
    padding: 20px 20px 15px 20px;
    background: url(/local/static/img/bg-transparent.png);
    margin: 0;
}

.creator-area {
    background: url(/local/static/img/bg-transparent.png);
    padding:  0 20px 35px 20px;
}

.publish-area {
    background: url(/local/static/img/bg-transparent.png);
    padding:  30px 20px 35px 20px;
}

.separator {
    height: 7px;
    background: none;
}

.separator-end {
    background: url(/local/static/img/bg-transparent.png);
    width: 20px;
    height: 7px;
    display: inline-block;
    overflow: hidden;
}

.error-content {
    background: url(/local/static/img/bg-transparent.png);
    padding: 20px 20px 12px 20px;
    min-height: 300px;
    position: relative;
}

#create .project-summary-area, #create .hero-image-area, #create .project-details-area, #create .creator-area, #create .publish-area, #create .separator-end {
    background: #e2e0da;
}


/*** module container divs ***/

.project-owner-area {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.project-owner-area img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.project-owner-area  p {
    font-size: 12px;
    line-height: 1.0;
    margin: 11px 0 0 0;
    padding: 0;
}

.project-owner-area .creator-name {
    padding: 0;
    line-height: 1.0;
}

.social-area {
    height: 25px;
    margin: 0;
}

.social-area ul {
    list-style-type: none;
    margin: 0;
}

.social-area ul li {
    float: left;
    display: inline-block;
    padding-right: 10px;
}

.logo-area {
    height: 100px;
}

.progress-area {
    margin: 0 0 0 28px;
}

.donate-area {
    width: 200px;
    margin:  5px 0 0 31px;
}

.remind-link {
    color: #888080;
    font-size: 11px;
    line-height: 1.0;
    background: url(/local/static/img/remind-link-bg.png) no-repeat right;
    padding: 2px 24px 2px 0;
    margin: 0 0 0 10px;
}

.remind-link:hover {
    text-decoration: none;
}

.update-area {
    margin-bottom: 10px;
}

.target-numbers-area {
    display: inline-block;
    overflow: hidden;
    clear: left;
    float: left;
}

.countdown-area {
    height: 40px;
    visibility: hidden;
}

.reminder-area {
    height: 40px;
    visibility: hidden;
}

.photo-container {
    display: table;
}
.photo-frame {
    display: table-cell;
    vertical-align: middle;

    background: #fff;
    padding: 12px 15px;
    margin: 10px 0 10px 0!important;
/*    display: inline-block;
    overflow:  hidden; */
    display: table-cell;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0 0 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow:         0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.photo-frame-inner {
    width: 430px;
    height: 255px;
    background:  #fff;
/*    width: 100%!important; */
}

.photo-frame img {
    display: block;
    margin: 0 auto;
    width: 430px;
    height: 255px;
/*
    width: 100%;
    height: auto;
*/
}

.map-frame {
    padding: 12px 15px;
    background: #fff;
    margin: 10px 0 10px 0!important;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0 0 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow:         0 0 10px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    overflow: hidden;
}

#map-canvas {
    width: 430px;
    height: 255px;
    background: #fff;
/*
    width: 100%!important;
    height: 300px;
*/
}

#location {
    margin: 0px 0 2px 20px;
}

.update-area-inner {
    background: #fff;
}

.update-input, .update-input-skew {
    background: #fff;
    margin: 0;
    padding: 13px 15px 5px 13px;
    height: 75px;
    resize: none;
    border: none;
}

.update-input-skew {
    padding: 0;
    width: 100%;
    outline: none;
    cursor: auto!important;
}

.update-submit-container {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 15px;
    float: right;
}

.skew-container {
    position: relative;
    display: inline-block;
    overflow: visible;
    width: 100%;
    height: 95px;
    margin-bottom: 10px;
}

.skew-bg {
    background: #fff;
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 95px;

    transform: skew(5deg,0.5deg);
    -ms-transform: skew(5deg,0.5deg); /* IE 9 */
    -webkit-transform: skew(5deg,0.5deg); /* Safari and Chrome */
    -o-transform: skew(5deg,0.5deg); /* Opera */
    -moz-transform: skew(5deg,0.5deg); /* Firefox */
}

.matrix-bg {
    background: #fff;
    position: absolute;
    left: 0px;
    top: 0;
    width: 200px;
    height: 160px;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
}

.skew-content {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 95%;
}

.post-update h2 {
    margin:  10px 0 6px 0;
}

.post-update h3 {
    display: inline-block;
    float: left;
    margin:  5px 0 10px 0;
}

.update-submit {
    background: #fff;
    padding: 5px 8px 6px 8px;
    border: none;
    color: #128d38;
    cursor: auto!important;
}

.donations-updates ul.history, ul.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.donations-updates ul.history li {
    background: #fff;
    margin-bottom: 10px;
    display: inline-block;
    overflow: hidden;
    -moz-border-radius: 25px 10px / 10px 25px;
    border-radius: 4px 2px / 10px 25px;
    width: 100%;
}

.timeline-container {
    background: #fff!important;
    position: relative;
    display: inline-block;
    overflow: visible;
    width: 100%;
    margin-bottom: 10px;
    -moz-border-radius: 25px 10px / 10px 25px;
    border-radius: 4px 2px / 10px 25px;
}

.timeline-arrow {
    position: absolute;
    width: 42px;
    height: 25px;

}

ul.timeline li {
    width: 50%;
/*    border:  1px solid #f0f; */
    clear: left;
    float: left;
    display: inline-block;
    margin:  0;
}

ul.timeline li:nth-of-type(odd) .timeline-arrow {
    background: /*#ff0000*/ url(/local/static/img/timeline-arrow-right.png) no-repeat right 5px;
    top: 10px;
    right: 0px;
    margin: 0 -32px 0 0;
}

ul.timeline li:nth-of-type(even) {
    float: right;
    clear: right;
}

ul.timeline li:nth-of-type(even) .timeline-arrow {
    background: url(/local/static/img/timeline-arrow-left.png) no-repeat left 5px;
    top: 10px;
    left: 0px;
    margin: 0 0 0 -32px;
}

ul.timeline li:nth-of-type(2) {
    margin: 50px 0 10px 0;
}


ul.timeline li:nth-of-type(odd) .timeline-container-outer {
    margin-right: 24px;
}

ul.timeline li:nth-of-type(even) .timeline-container-outer {
    margin-left: 25px;
}

.blue {
    color: #5ca2d3;
    -moz-box-shadow:    3px 3px 0 0 #5ca2d3;
    -webkit-box-shadow: 3px 3px 0 0 #5ca2d3;
    box-shadow:         3px 3px 0 0 #5ca2d3;
}

.red {
    color: #c20f15;
    -moz-box-shadow:    3px 3px 0 0 #c20f15;
    -webkit-box-shadow: 3px 3px 0 0 #c20f15;
    box-shadow:         3px 3px 0 0 #c20f15;
}

.pink {
    color: #d8348d;
    -moz-box-shadow:    3px 3px 0 0 #d8348d;
    -webkit-box-shadow: 3px 3px 0 0 #d8348d;
    box-shadow:         3px 3px 0 0 #d8348d;
}

.grey {
    color: #65625d;
    -moz-box-shadow:    3px 3px 0 0 #65625d;
    -webkit-box-shadow: 3px 3px 0 0 #65625d;
    box-shadow:         3px 3px 0 0 #65625d;
}

.green {
    color: #128d38;
    -moz-box-shadow:    3px 3px 0 0 #128d38;
    -webkit-box-shadow: 3px 3px 0 0 #128d38;
    box-shadow:         3px 3px 0 0 #128d38;
}

.donation-image{
    width: 70px;
    float: left;
}

.donation-image img {
    padding: 15px 0 0 15px;
}

.donation-text {
    width: 65%;
    /*   width: 80%; */
    float: left;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    padding: 0 0 3px 0;
}

.creator-comment .donation-text {
    width: 80%
}

.creator-comment {
    color: #c20f15;
    -moz-box-shadow:    3px 3px 0 0 #c20f15;
    -webkit-box-shadow: 3px 3px 0 0 #c20f15;
    box-shadow:         3px 3px 0 0 #c20f15;
}

.creator-comment .donation-image {
    float: right;
}

.creator-comment .donation-image img {
    padding: 15px 15px 15px 0;
}

.donation-text p {
    margin: 0 0 2px 0;
    padding: 15px 10px 0 15px;
}

.donation-amount {
    width: 15%;
    /*    width: 20%; */
    float: left;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    padding: 15px 0 0 0;
}

.donor-name, .creator-name {
    font-size: 12px;
    padding:  0 5px 15px 15px;
}

.project-summary-area .creator-name {
    font-weight: bold;
}

.donation-date {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding:  0 0 15px 0;
}

.dashboard {
    margin-top: 25px;
}

.preview {
    opacity: 0.6;
}

.progress-donate {
    display: inline-block;
    overflow:  hidden;
}

#pie-container {
/*    font-size: 206px; */
    font-size: 220px;
    line-height: 0.5;
    position: relative;
}

.total-raised {
    color: #a9c100;
}

.total-background {
    color: #929459;
}

.pie-centre {
    color: #dcddc4;
}

.days-left {
    color: #128d38;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    left: 56px;
    top: 63px;
    width: 70px;
    text-align: center;
    font-size: 11px;
    line-height: 1.0;
    padding: 0;
    margin: 0;
}

.days-left-number {
    font-size: 28px;
    font-weight: bold;
}

.amounts-area {
    display: inline-block;
    overflow: hidden;
    margin-top: 8px;
    float: none;
    clear: left;
}

.amount-raised {
    width: 120px;
    float: left;
    padding:  0;
    margin:  0;
}

.target {
    border-left: 1px solid #888080;
    border-left-style: dashed;
    width: 140px;
    padding:  0 0 0 7px;
    float: left;
}

.amounts-label {
    font-size: 11px;
    color: #888080;
    line-height: 1.0;
    padding: 0;
    margin:  0;
}

.amounts-value {
    font-size: 32px;
    line-height: 1.0;
    font-weight: bold;
    padding:  0;
    margin:  0;
}

.amount-raised .amounts-value {
    color: #a9c100;
}

.target .amounts-value {
    color: #d7348d;
}

.beta-image {
    position: absolute;
    right: 0;
    top: 0;
    margin:  -2px -1px 0 0;
}

.project-story {
    margin-top: 15px;
}

.project-story h2 {
    font-size: 24px;
    line-height: 1.0;
    padding:  0 0 5px 0;
    margin: 0;
}

.project-story p {
    font-size: 13px;
    line-height: 1.2;
    padding: 0 0 13px 0;
    margin: 0;
}

.project-story a {
    color: #4d4940;
    text-decoration: underline;
}

.about-me-module {
    color: #5ca2d3;
    padding: 9px 7px 12px 12px;
    display: inline-block;
    overflow: hidden;
    background:  #fff;
}

.about-me-module h3 {
    font-size: 14px;
    line-height: 1.0;
    font-weight: bold;
    padding:  0;
    margin: 0 0 5px 0;
}

.about-me-module img {
    float: right;
    width: 50px;
    height: 50px;
    padding:  0 5px 0 15px;
}

.about-me-module p {
    font-size: 12px;
    line-height: 1.2;
}

.about-me-module p.static-text {
    color: #d7348d;
    margin:  4px 0 5px 0;
}

.module {
    background:  #fff;
    padding: 9px 7px 12px 12px;
}

.have-your-say {
    background:  #f1f1f1;
}



/*** Create project page ***/

.project-creation {
    background: url(/local/static/img/bg-transparent.png);
    padding: 0 20px;
}

.pitch-row {
    margin-bottom: 12px;
    display: inline-block;
    overflow:  hidden;
    width: 940px;
}

.pitch-input {
    margin:  15px 0 15px 0;
}

.project-pitch-input {
    display: inline-block;
    line-height: 1.0;
    font-size: 24px;
    font-weight: normal;
}

.project-pitch-input h1 {
    font-size: 31px;
    line-height: 1.0;
    margin: 23px 0 17px 0;
}

.project-pitch-input input {
    margin: 0;
    font-size: 20px;
    color: #a59c94;
    padding: 2px;
    height: 25px;
    border:  1px solid #c8c8c8;
}

.project-pitch-input .help-icon {
    margin-top: 0;
}

.project-pitch-input .char-count {
    margin:  0 30px 0 0;
}

.project-pitch-description-outer {
    background: url(/local/static/img/project-pitch-description-bg.png) no-repeat left center;
    margin:  35px 0 33px 0;
}

.project-pitch-description {
    background: #65625c;
    color: #fff;
    margin:  0 0 0 8px;
    padding:  15px 10px 20px 18px;
    border-bottom: 2px solid #5a9ece;
    border-right: 2px solid #5a9ece;
}

.project-pitch-description h3 {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 21px;
    line-height: 1.0;
}

.project-pitch-description p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.project-pitch-description ul {
    margin: 0 0 0 18px;
    padding: 0;
}

.project-pitch-description li {
    font-size: 18px;
    padding:  0 0 8px 0;
}

.text-pitch {
    display: inline-block;
    float: left;
}

input.target-amount {
    width: 120px;
    padding: 0 0 0 5px;
    float: left;
}

.target-amount-outer {
    margin: 0 10px;
    float: left;
}

.target-amount-outer .max-amount {
    color: #887f80;
    font-size: 12px;
    line-height: 1.0;
    display: inline-block;
    overflow: hidden;
    width: 120px;
    padding: 4px 0 0 5px;
    text-align: center;
    clear: both;
    float: left;
}

.pitchfor {
    width: 562px;
}

.pitchfor-group {
    display: block;
    overflow: hidden;
}

.pitchbecause {
    width: 790px;
}

.pitchfor, .pitchbecause {
    float: right;
    clear: none;
}

.char-count {
    background: #fedc00;
    width: 47px;
    padding: 2px 5px 3px 5px;
    float: right;
    clear: both;
    display: inline-block;
    overflow: hidden;
    text-align: right;
    font-size: 10px;
    line-height: 1.0;
    margin: 0;
    height: 10px;
}

.project-pitch-input .char-count {
    width: 35px;
}

.map-frame-create {
    background: #fff;
    padding:  14px;
    padding:  14px;
    border:  1px dashed #9e9897;
    width: auto;
    display: inline-block;
    overflow: hidden;
    margin: 23px;
}

.photo-frame-create {
    background: #fff;
    padding:  14px;
    border:  1px dashed #9e9897;
    width: auto;
    display: inline-block;
    overflow: hidden;
    margin: 23px;
}


.map-frame-create h3, .photo-frame-create h3 {
    color: #fff;
    margin: 0;
    padding: 15px 0 22px 10px;
}

.map-frame-create p, .photo-frame-create p {
    color: #fff;
    margin: 0;
    padding: 0 10px 0 10px;
    font-size: 16px;
    line-height: 1.0;
}

.photo-frame-create-inner {
    background:  #a59c94;
    width: 430px;
    height: 255px;
}

.map-frame-create-inner {
    background: #a59c94 url(/local/static/img/map-narrow-bg.png) no-repeat bottom;
    width: 430px;
    height: 255px;
}

.photo-upload {
    background: url(/local/static/img/plus-icon.png) no-repeat 0 4px;
    margin:  3px 0 0 11px;
    padding:  2px 16px 5px 15px;
    border: none;
    font-size: 12px;
    color: #fff;
    position: relative;
    width: 139px;
}

.photo-upload-outer {
    width: 430px;
    height: 255px;
}

.photo-upload-outer img {
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
}

.photo-upload-container {
    background: url(/local/static/img/btn-bg-upload.png) no-repeat center;
    background-size: 140px 30px;
    float: left;
    margin:  -12px 0 0 25px;
}

.swfupload {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

input.location-input[type="text"] {
    padding: 6px 0 7px 10px!important;
    margin: 14px 0 0 10px!important;
    color: #d7348d;
    border: none;
    border-bottom: none!important;
    width: 196px;
    background :#fff;
    border: 1px solid #c8c8c8;
    -moz-box-shadow:    inset 0 0 10px #c8c8c8;
    -webkit-box-shadow: inset 0 0 10px #c8c8c8;
    box-shadow:         inset 0 0 10px #c8c8c8;
    outline: none;
}

.contact-details-module {
    display: inline-block;
    overflow: hidden;
    margin: 2px 0 15px 0;
}

.contact-details-module input[type="text"] {
    margin:  1px 0 0 0;
}


.about-me-textarea {
    height: 300px;
}

.about-me-input {
    margin-bottom: 10px;
}

.tell-supporters-textarea {
    height: 150px;
}

.publish-buttons {
    float: right;    
    background: url(/local/static/img/publish-buttons-bg.png) repeat-x left 33px;
}

.tandc {
    margin: -5px 5px 20px 0;
    width: 210px;
    clear: none;
    float: left;
    background: url(/local/static/img/promise-bg.png) no-repeat left top;
    background-size: 220px 80px;
    padding:  7px 10px 7px 10px;
}

.tandc label {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    display: block;
    padding: 0 12px 0 15px;
    text-indent: -15px;
}

input.agreetandc {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.checkbox-tandc {
    -moz-box-shadow:    3px 3px 0 0 #d8348d;
    -webkit-box-shadow: 3px 3px 0 0 #d8348d;
    box-shadow:         3px 3px 0 0 #d8348d;
}

.publish {
    float: left;
    clear: none;
    margin:  0 0 0 70px;
}

.field-validation-error {
    font-size: 14px;
    color: red;
    display: block;
    font-weight: normal;
}

.btn-publish {
    padding: 14px 25px 17px 23px;
    border:  none;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    float: left;
}

.btn-publish.disabled {
    background: url(/local/static/img/btn-bg-publish-disabled.png) no-repeat left top;
    cursor: auto;
}

.btn-publish.enabled{
    background: url(/local/static/img/btn-bg-publish-enabled.png) no-repeat left top;
    cursor: pointer;
}

.btn-preview {
    padding: 10px 25px 14px 20px;
    border:  none;
    font-size: 18px;
    color: #fff;
    float: left;
    margin-top: 8px;
}

.btn-preview.disabled {
    background: url(/local/static/img/btn-bg-preview-disabled.png) no-repeat left top;
    cursor: auto;
}

.btn-preview.enabled{
    background: url(/local/static/img/btn-bg-preview-enabled.png) no-repeat left top;
    cursor: pointer;
}

input[type="text"] {
    background :#fff;
    color: #a59c94;
    border: 1px solid #c8c8c8;
    -moz-box-shadow:    inset 0 0 10px #c8c8c8;
    -webkit-box-shadow: inset 0 0 10px #c8c8c8;
    box-shadow:         inset 0 0 10px #c8c8c8;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding:  2px 0 3px 10px;
    margin: 0;
    outline: none;
}

textarea {
    background :#fff;
    color: #a59c94;
    border: 1px solid #c8c8c8;
    -moz-box-shadow:    inset 0 0 10px #c8c8c8;
    -webkit-box-shadow: inset 0 0 10px #c8c8c8;
    box-shadow:         inset 0 0 10px #c8c8c8;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding:  2px 0 3px 10px;
    margin: 0;
    outline: none;
    resize: none;
}

.project-details-area label {
    font-size: 18px;
    line-height: 28px;
    margin:  0 0 6px 0;
    display: inline-block;
    overflow:  hidden;
    padding:  0 6px 0 0;
}

.project-details-area h2 {
    font-size: 25px;
    line-height: 1.0;
    margin:  0 0 15px 0;
}

.help-icon {
    display: inline;
    vertical-align: middle;
    margin-top: -4px;
}

.help-icon-container {
    display: inline-block;
    overflow: hidden;
    float: right;
    clear: none;
    width: 30px;
    text-align: right;
}

.project-details-you .help-icon {
    margin-top: 2px;
}

.project-details-area .input-outer {
    margin-bottom: 35px;
}

/*** preview page ***/

.preview-banner {
    background: #fff;
    border: 1px dashed #8c8985;
    padding: 10px 0 10px 0;
    -moz-box-shadow:    0 0 10px #2cafa4;
    -webkit-box-shadow: 0 0 10px #2cafa4;
    box-shadow:         0 0 10px #2cafa4;
    margin-bottom: 10px;
    color: #128d38;
}

.preview-banner p {
    background: #fff url(/local/static/img/preview-icon.png) no-repeat 18px 6px;
    font-size: 16px;
    line-height: 1.0;
    margin: 0;
    padding:  14px 0 14px 80px;
}

.preview-banner-description-area a {
    background: url(/local/static/img/underline-green.png) repeat-x left bottom;
    text-decoration: none;
    color: #128d38;
}

.preview-banner-buttons-area {
    display: inline-block;
    overflow:  hidden;
}

.preview-banner-buttons-area .btn-publish {
    float: right;
    margin-right: 20px;
}

.preview-banner-buttons-area p {
    background: url(/local/static/img/preview-back-arrow.png) no-repeat 0 14px;
    color: #d7348d;
    padding: 14px 2px 0 40px;
    float: left;
    margin: 0 0 0 20px;
    display: inline-block;
    width: 145px;
    float: left;
}

.preview-banner-buttons-area a {
    background: url(/local/static/img/underline-pink.png) repeat-x left bottom;
    color: #d7348d;
    font-weight: bold;
    padding: 0;
    text-decoration: none;
}

.preview-copy {
    color: #128d38;
}



/*** create project status panel ***/

.status-panel {
    background: url(/local/static/img/bg-transparent.png);
    margin-top: 2px;
}

.status-panel-inner {
    padding: 20px 20px 18px 20px;
}

.status-addupdate {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.button-status, a.button-status-addupdate, .button-status-update, .button-status-upload, .button-status-final-report {
    color: #fff;
    font-size: 11px;
    border: none;
    width: 134px;
    height: 28px;
    float: right;
    clear: none;
    background: url(/local/static/img/btn-blue-bg-inactive.png) no-repeat;
}

.button-status.disabled {
    cursor:auto;
}

.button-status.enabled {
    background: url(/local/static/img/btn-blue-bg.png) no-repeat;
}

.button-status-update {
    margin: 194px 0 0 10px;
    background: url(/local/static/img/btn-green-bg-inactive.png) no-repeat;
    width: 82px;
    height: 28px;
    float: left;
}

.button-status-update.enabled {
    background: url(/local/static/img/btn-green-bg.png) no-repeat;
}

.button-status-update.disabled {
    cursor: auto;
}

.button-status-upload {
    margin: 32px 0 0 10px;
    background: url(/local/static/img/btn-magenta-bg.png) no-repeat;
    float: left;
}

.button-status-upload.enabled {
    background: url(/local/static/img/btn-magenta-bg.png) no-repeat;
}

.button-status-upload.disabled {
    cursor: auto;
}

.button-status-final-report {
    margin: 82px 0 0 10px;
    float: left;
}

.button-status-final-report.enabled {
    background: url(/local/static/img/btn-blue-bg.png) no-repeat;
}

.button-status-final-report.disabled {
    cursor: auto;
}
a.button-status-addupdate {
    background: #5ca2d3;
    background: url(/local/static/img/btn-blue-bg.png) no-repeat left;
    display: inline-block;
    overflow: visible;
    text-align: center;
    height: 24px;
    padding-top: 4px;
    float: right;
    clear: right;
    text-decoration: none;
}

.status-thankyou-input {
    height: 222px;
}

.status-money-spent-input {
    height: 110px;
}

.status-panel h2 {
    font-size: 14px;
    line-height: 1.0;
    font-weight: bold;
    padding: 0;
    margin: 0 0 3px 0;
}

.status-panel h3 {
    font-size: 11px;
    line-height: 1.0;
    font-weight: bold;
    margin: 0 0 3px 0;
    padding: 0;
}

.status-panel p {
    font-size: 11px;
    line-height: 1.1;
}

.status-indicator {
    list-style-type: none;
    margin:  0;
    padding: 0;
    background: url(/local/static/img/status-list-bg.png) no-repeat 8px 10px;
}

.status-indicator li {
    margin: 0;
    padding: 0;
    color: #a59c94;
    padding: 6px 0 6px 20px;
    background: url(/local/static/img/status-li.png) no-repeat 0 9px;
}

.status-indicator li.ticked {
    background: url(/local/static/img/status-li-ticked.png) no-repeat 0 9px;
    color: #5ca2d3;
}

.status-indicator li.complete {
    background: url(/local/static/img/status-li-solid.png) no-repeat 0 9px;
    color: #5ca2d3;
}

.status-thankyou, .status-photo, .status-money-spent {
    width: 100%;
    display: inline-block;
    overflow:  hidden;
}

.status-thankyou-inner-l, .status-money-spent-inner-l, .status-photo-inner-l {
    float: left;
    clear: none;
}

.status-thankyou-inner-l, .status-money-spent-inner-l {
    width: 53.7%;

}

.status-photo-inner-l {
    width: 45.54%;
}

.status-thankyou-inner-r, .status-money-spent-inner-r, .status-photo-inner-r {
    float: right;
    clear: none;
}

.status-thankyou-inner-r, .status-money-spent-inner-r {
    width: 46.3%;
}

.status-photo-inner-r {
    width: 54.46%;
}

.photo-upload-info {
    background: #fff;
    border:  1px dashed #d7348d;
    margin-bottom: 16px;
}

.photo-upload-info-inner {
    color: #d7348d;
    padding:  7px 10px 8px 5px;
    font-size: 11px;
    line-height: 1.0;
}

/*** Form inputs ***/


/*** status changes with classes ***/


/*** static graphic elements ***/

.g-local-logo {
    margin:  12px 0 0 0;
    float: right;
}

.g-local-logo-mob {
    width: 35px;
    height: 45px;
    margin: 10px 0 0 0;
    float: left;
}

.hero-project-photo img {
    margin-top: 20px;
}


/*** buttons and links ***/

a.btn-donate {
    text-decoration: none;
}

a.btn-donate:hover {
    color: #fff;
}

.btn-donate {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding: 8px 30px 9px 68px;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    background: url(/local/static/img/donate-btn-g-icon-bg.png) no-repeat 8px 5px;
}

.donate-btn-container {
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #913f8b;
    background: -moz-linear-gradient(top,  #a54f97 0%, #6e2264 26%, #6d2764 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a54f97), color-stop(26%,#6e2264), color-stop(100%,#6d2764)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a54f97 0%,#6e2264 26%,#6d2764 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a54f97 0%,#6e2264 26%,#6d2764 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a54f97 0%,#6e2264 26%,#6d2764 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a54f97 0%,#6e2264 26%,#6d2764 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a54f97', endColorstr='#6d2764',GradientType=0 ); /* IE6-9 */

}

.btn-donate:hover {
    color: #fff;
}

.btn-contact {
    font-size: 12px;
    color: #fff;
    background: url(/local/static/img/btn-bg-contact.png) no-repeat left top;
    padding: 4px 26px 4px 27px;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    float: right;
    margin:  15px 5px 0 0;
}

.btn-contact:hover {
    color: #fff;
    text-decoration: none;
}

/*** General useful styles ***/

.left {
    float: left;
}

.right {
    float: right;
}

.error {
    color: #ed1b24;
}

input.input-validation-error, textarea.input-validation-error {
    border: 1px solid #ed1b24;
}

.photo-frame-create.error, .map-frame-create.error {
    border: 1px solid #ed1b24;
}

.error-container {
    border: 1px solid #ed1b24;
    background: #fff url(/local/static/img/error-icon-1.png) no-repeat 19px 18px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 4px 7px #b78c8b;
    -moz-box-shadow:    0px 4px 7px #b78c8b;
    box-shadow:         0px 4px 7px #b78c8b;
}

.error-container-inner {
    padding: 28px 20px 10px 70px;
    color: #ed1b24;
}

.error-container h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.error-container ul {
    margin: 6px 0 0 15px;
    padding: 0;
}

.error-container li {
    margin: 0 0 0 0;
    padding: 0 0 4px 0;
}

.error-container a {
    text-decoration: underline;
    color: #ed1b24;
    font-size: 16px;
    padding: 0;
    margin: 0;
}


/*** overrides bootstrap ***/

nav {
    background: #fff;
    -webkit-box-shadow: 0px 4px 7px #c9c4c1;
    -moz-box-shadow:    0px 4px 7px #c9c4c1;
    box-shadow:         0px 4px 7px #c9c4c1;
}

.nav-inner {
    padding: 8px 0 8px 20px;
}

.navbar-inner {
    min-height: 30px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.page-content {
    padding:  0 0 30px 0;
    margin: 25px 0 30px 0;
}

/*** header ***/
.login-area {
    color: #77256d;
    font-size: 12px;
    line-height: 1.0;
    float: right;
    text-align: right;
    padding:  7px 0 0 0;
    margin:  0 30px 0 0;
}

.login-area a {
    color: #77256d;
    text-decoration: none;
}

.login-area a:hover {
    text-decoration: underline;
}


/*** styles from current JG footer ***/
footer {
    display: none;
}


footer .dynamic-footer {
    margin: 0px 20px !important;
    padding-top: 30px;
}

footer .dynamic-footer a.footer-logo {
    float: left;
    width: 90px;
    margin-right: 210px;
}

footer .dynamic-footer .footer-list-wrapper {
    width: 150px;
    margin-right: 10px;
    float: left;
}

footer .dynamic-footer .footer-list-wrapper, footer .dynamic-footer .contact-help {
    padding-bottom: 25px;
}

footer .dynamic-footer .footer-list-wrapper li {
    line-height: 1.4em;
}

footer .dynamic-footer ul li {
    font-size: 1.1em;
}

footer a {
    color: rgb(77, 72, 64);
    text-decoration: none;
}

footer ul {
    list-style: none outside none;
}



/*** media queries ***/
/* break point 480px matches bootstrap */


@media (max-width: 480px) {

    .login-area {
        display: inline-block;
        overflow: hidden;
        margin: 0 10px 0 0;
        padding:  3px 0 0 0;
        width: 120px;
    }
    
    h1.project-title {
        font-weight: bold;
        font-size: 15px;
        line-height: 1.18;
        margin: 5px 0 6px 0;
    }

    h2 {
        font-size: 14px;
        line-height: 1.0;
    }

    body {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

    nav {
        margin: 0 0 12px 0!important;
        width: 100%;
        border-bottom: 1px solid #b8babc;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .nav-inner {
        padding: 8px 0 8px 10px;
    }

    .page-content {
        margin: 0 0 30px 0;
    }

    .bottom-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background:  #fff;
    }

    .bottom-bar .amounts-value {
        font-size: 14px;
        line-height: 1.0;
        font-weight: bold;
        padding:  0;
        margin:  0;
    }

    .bottom-bar .amounts-label {

    }

    .bottom-bar .amount-raised .amounts-value {
        color: #FF8018;
    }

    .bottom-bar .target .amounts-value {
        color: #792569;
    }

    .bottom-bar .donate-area {
        width: 42.5%;
        float: right;
        padding: 0;
        margin: 6px 0 0 0;
    }

    .bottom-bar .btn-donate {
        font-size: 18px;
        padding: 8px 14px 9px 52px;
    }

    .bottom-bar .donate-btn-container {
        padding-right: 10px;
    }

    .bottom-bar .amounts-area {
        width: 30%;
        float: left;
        clear: none;
        padding: 0;
        margin:  5px 0 5px 0;
        border-left: 1px solid #888080;
        border-left-style: dashed;
    }

    .bottom-bar .verisign-area {
        width: 22%;
        float: left;
        clear: none;
        border:  1px solid #fff;
    }

    .bottom-bar .amount-raised {
        padding: 0 0 0 5px;
    }

    .bottom-bar .target {
        border: none;
        padding: 0 0 0 5px;
    }

/*
    .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }
*/

    .container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .project-summary-area {
        padding: 0 10px 0 10px;
    }

    .hero-image-area {
        padding: 0 10px 0 10px;
    }

    .project-details-area {
        padding: 0 10px 15px 10px;
    }

    .creator-area {
        padding:  0 10px 35px 10px;
    }

    .publish-area {
        padding:  30px 10px 35px 10px;
    }

    .separator {
        height: 5px;
    }

    .separator-end {
        width: 10px;
        height: 5px;
    }

    .project-owner-area {
        margin-bottom: 0;
    }

    .project-owner-area  p {
        font-size: 10px;
        line-height: 1.0;
        margin: 0;
        padding: 0;
    }

    .project-owner-area span {
        font-size: 11px;
        font-weight: bold;
        line-height: 1.0;
        margin: 0;
        padding: 0;
    }

    .project-owner-area img {
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 6px;
    }

    .donation-image img {
        width: 30px;
        height: 30px;
    }

/*** photo and map styles ***/

    .photo-frame {
        background: #fff;
        padding: 7px;
        margin: 10px 0 10px 0!important;
        display: inline-block;
        overflow:  hidden;
        -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    0 0 10px 2px rgba(0, 0, 0, 0.2);
        box-shadow:         0 0 10px 2px rgba(0, 0, 0, 0.2);
    }

    .photo-frame-inner {
        background:  #fff;
        width: 100%!important;
        height: auto;
    }

    .photo-frame img {
        width: 100%;
        height: auto;
    }

    .map-frame {
        background: #fff;
        padding: 7px;
        margin: 1px 0 10px 0!important;
        -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    0 0 10px 2px rgba(0, 0, 0, 0.2);
        box-shadow:         0 0 10px 2px rgba(0, 0, 0, 0.2);
    }

    #map-canvas {
        background: #fff;
        width: 100%!important;
        height: 200px!important;
    }

    #location {
        margin: -8px 0 2px 5px;
    }

    .project-details-area label {
        font-weight: bold;
        font-size: 18px;
        margin: 0;
    }

    .project-story h2 {
        font-weight: bold;
        font-size: 18px;
        margin: 0;
    }

    .project-story p {
        font-size: 11px;
        line-height: 1.2;
    }

    .social-area, .countdown-area, .reminder-area {
        display: none;
    }

    /* start section for donation history area */


    .donations-updates h2, .donations-updates h3, .project-details-area h2, .project-story h2 {
        font-size: 12px!important;
    }

    .donation-image{
        width: 60px;
        float: left;
    }

    .donation-image img {
        padding: 10px 0 0 10px;
    }

    .donation-text {
        width: 155px;
        float: left;
        font-size: 11px;
        line-height: 1.2;
        margin: 0;
        padding: 0 0 3px 0;
    }

    .donation-text p {
        margin: 0 0 2px 0;
        padding: 5px 5px 0 10px;
    }

    .donation-amount {
        width: 40px;
        float: left;
        font-size: 11px;
        line-height: 1.2;
        font-weight: bold;
        padding: 15px 15px 0 0;
        text-align: right;
    }

    .donor-name, .creator-name {
        font-size: 10px;
        padding:  0 5px 5px 10px;
    }

    .project-summary-area .creator-name {
        font-weight: bold;

    }

    .donation-date {
        font-size: 10px;
        font-weight: bold;
        display: inline-block;
        padding:  0 0 5px 0;
    }

    /* end section for donation history area */

}

@media (max-width: 320px) {

}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.fake-fb-comments {
    height: 160px; 
    width: 550px;
}

.fake-fb-comments textarea {
    height: 26px;
    font-size: 11px;
    margin-top: 8px;
    width: 95%;
    cursor: auto;
}

.fake-fb-comments img {
    padding: 10px 6px 30px 10px;
}

.fake-fb-comments .comment-div {
    float: right;
    width: 87%;
}

.fake-fb-comments .comment-span {
    font-size: 11px;
    font-weight: bold;
    float: right;
    margin: 6px 10px 0px 0px;
    padding: 4px 1px 1px 1px;
    width: 25%;
    cursor: auto;
}

.fake-fb-comments .sx_comments_cfavicon {
    width: 14px;
    height: 14px;
    background-position: -0px -187px;
}

.fake-fb-comments .sp_comments {
    background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yX/x/U9AwDhGgiju.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 3px;
}

.fake-fb-comments .plugin-span {
    font-size: 9px;
    margin: -24px 0px 0px 21px;
}

.fake-fb-comments .caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0.5;
    vertical-align: top;
    width: 2px;
}
