

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: url(../img/jg_local_bg.png);
    color: #4d4940;
}


.project-pitch h1 {
    display: inline-block;
    line-height: 1.175;
    margin: 16px 0 22px 0;
}


@media (max-width: 480px) {
    h1 {
        font-size: 15px;
        line-height: 1.0;
    }

    h2 {
        font-size: 13px;
        line-height: 1.0;
    }

    body {
        font-size: 12px;
    }


}

/*** major layout container divs ***/
/*** region rows ***/

.project-summary-area {
    background: url(../img/bg-transparent.png);
    padding: 0 20px;
}

.hero-image-area {
    padding: 0 20px 15px 20px;
    background: url(../img/bg-transparent.png);
    margin: 0;
}

.project-details-area {
    background:  #0f0;
    padding: 0 20px 15px 20px;
    background: url(../img/bg-transparent.png);
}

.creator-area {
    background: url(../img/bg-transparent.png);
    padding:  0 20px 35px 20px;
}

.publish-area {
    background: url(../img/bg-transparent.png);
    padding:  0 20px 35px 20px;
}

.separator {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 7px;
}

.separator-inner {
    height: 15px;
}

.separator-end {
    background: url(../img/bg-transparent.png);
    width: 20px;
    display: inline-block;
    overflow: hidden;
}


/*** module container divs ***/


.social-area {
    height: 90px;
    margin-top: 10px;
}

.logo-area {
    height: 100px;
}

.progress-area {
    height: 60px;
    margin-bottom: 22px;
}

.donate-area {
    height: 40px;
}

.countdown-area {
    height: 40px;
}

.reminder-area {
    height: 40px;
}

.social-area, .progress-area, .countdown-area, .reminder-area {
    border:  1px solid #f00;
}

.photo-frame {
    background: url(../img/hero-photo-frame-bg.png) no-repeat left top;
    padding:  38px 0 40px 30px;
}

.photo-frame img {
    width: 430px;
    height: 255px;
}

.map-frame {
    background: url(../img/map-frame-bg.png) no-repeat left top;
    padding:  38px 0 40px 25px;
}

.map-frame img {
    width: 430px;
    height: 255px;
}

.donations-updates {

}

.donations-updates ul.history {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.donations-updates ul.history li {
    border: 1px solid #0f0;
    padding: 15px;
    background: #fff;
    margin-bottom: 10px;
    display: inline-block;
    overflow: hidden;
}

.donation .amount {
    float: right;
}

.donation .donation-text {

}

.project-story {

}

.about-me {
    color: #5ca2d3;
}

.module {
    background:  #fff;
    padding: 9px 7px 12px 12px;
}

.angular {

}

.blue {
    color: #5ca2d3;
}


.have-your-say {
    background:  #f1f1f1;
    height: 85px;
    border:  1px solid #f00;
}



/*** Create project page ***/

.project-creation {
    background: url(../img/bg-transparent.png);
    padding: 0 20px;
}

.pitch-input {
    margin:  15px 0 15px 0;
}

.project-pitch {
    display: inline-block;
    line-height: 1.4;
    margin: 20px 0 0 0;
    font-size:  36px;
    font-weight: bold;
    border: 1px solid #f00;
    padding-bottom: 20px;
}

.project-pitch input {
    margin: 0;
    font-size: 36px;
    padding: 0;
    height: 42px;
}

.project-pitch input:focus {
    background: transparent #f00 url(../img/input-corner-right.png) no-repeat right bottom;
    border: none;
    border-bottom: 1px solid #62625c;
    border-radius: 0;
    margin: 0;
}

input.target-amount {
    width: 120px;
}

.pitchfor {
    width: 460px;
}

.pitchbecause {
    width: 460px;
}

.validation-summary-valid {
    height: 0;
}

.text-error {
    display: none;
}

.btn-submit-create {
    margin:  20px 0 20px 0;
}

.input-outer {
    display: inline-block;
    overflow:  hidden;
    background: url(../img/input-corner-left.png) no-repeat left bottom;
}

input[type="text"] {
    background: none;
    background: url(../img/input-corner-right.png) no-repeat right bottom;
    border: none;
    border-bottom: 1px solid #62625c;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
}

textarea {
    background: none;
    background: url(../img/input-corner-right.png) no-repeat right bottom;
    border: none;
    border-bottom:  1px solid #62625c;
    border-radius: 0;
    box-shadow: none;
}


.project-details-area label {
    font-weight: bold;
    font-size: 21px;
    margin:  0 0 0 5px;
}

.label-additional-info {
    padding-left: 5px;
}

.project-details-area .input-outer {
    margin-bottom: 35px;
}

.project-details-area input[type="text"] {
    width: 460px;
}




/*** Form inputs ***/


/*** status changes with classes ***/


/*** static graphic elements ***/

.g-local-logo {
    margin:  12px 0 0 0;
    float: right;
}

.g-local-logo-mob {
    width: 35px;
    height: 45px;
    margin: 10px 0 0 0;
    float: left;
}

.hero-project-photo img {
    margin-top: 20px;
}


/*** buttons and links ***/

a.btn-donate {
    text-decoration: none;
}

a.btn-donate:hover {
    color: #fff;
}

.btn-donate {
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    background: url(../img/btn-bg-donate.png) no-repeat left top;
    padding: 10px 55px 26px 55px;
    display: inline-block;
    overflow: hidden;
}


/*** General useful styles ***/

.left {
    float: left;
}

.right {
    float: right;
}


/*** overrides bootstrap ***/

nav {
    background: #e5e2dd;
    padding: 8px 0 8px 20px;
    margin-bottom: 25px;
}

.page-content {
    padding:  0 0 30px 0;
    margin-bottom: 30px;
}

/*
h1.project-title {
    margin: 33px 0 11px 0;
}
*/

/*** styles from current JG footer ***/
footer .dynamic-footer {
    margin: 0px 20px !important;
    padding-top: 30px;
}

footer .dynamic-footer a.footer-logo {
    float: left;
    width: 90px;
    margin-right: 210px;
}

footer .dynamic-footer .footer-list-wrapper {
    width: 150px;
    margin-right: 10px;
    float: left;
}

footer .dynamic-footer .footer-list-wrapper, footer .dynamic-footer .contact-help {
    padding-bottom: 25px;
}

footer .dynamic-footer .footer-list-wrapper li {
    line-height: 1.4em;
}

footer .dynamic-footer ul li {
    font-size: 1.1em;
}

footer a {
    color: rgb(77, 72, 64);
    text-decoration: none;
}

footer ul {
    list-style: none outside none;
}




